
@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat-Thin;
  src: url('../fonts/Montserrat/Montserrat-Thin.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf'); 
}

@font-face {
  font-family: Quantico-Regular;
  src: url('../fonts/Quantico/Quantico-Regular.ttf'); 
}

h1
{
	font-family: Montserrat-Regular;
	font-size: 30px;
	color: azure;
	padding-left: 1%;
	padding-right: 1%;
}
h2{
	color: azure;
	font-family: Montserrat-Thin;
	font-size: 24px;
	padding-left: 1%;
	padding-right: 1%;
}
ul{
	color: azure;
}
a{
	color: cyan;	
}